.grid{
    width:200px; 
    height:400px; 
    background-color:grey;

    display: flex;
    flex-wrap:wrap;
}
.grid div{
    width:20px; 
    height:20px; 
    /*background-color: hotpink;*/
}

.tetromino{
    background-color: blue;
}